.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 59);
    flex: 1;
    padding: 20px 50px 50px 50px;
}


