.PaginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

.page-item .page-link {
    background: #bdbcbc;
    color: rgb(94, 93, 93);
}

.active .page-link {
    background: rgb(61, 78, 109) !important;
    border-color: lightcyan !important;
}