.Search {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #eeeeee;
  padding: 50px;
  padding-bottom: 10px;
}

.Search p {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.Search form {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  border-top: solid 2px rgb(218, 218, 218);
  border-bottom: solid 2px rgb(218, 218, 218);
}

.labelContainer {
  text-align: left;
}

.formContainer {
  text-align: left;
  padding: 0 100px;
}

@media (max-width: 600px) {
  .Search,
  .Search form {
    padding: 20px;
  }
}
