.Search {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(82, 82, 247);
    padding: 50px 0;
}

.inputContainer {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.inputContainer .input {
    width: 80%;
}

@media (max-width: 600px) {
    .inputContainer .input {
        width: 100%;
    }
    .inputContainer {
        flex-direction: column;
        align-items: center;
    }
    
}

