.CardComp {
    display: flex;
    width: 14rem;
    margin-top: 30px;
    min-height: 26rem !important;
    user-select: none;
}

.CardImgComp {
    width: 100%;
    height: 15vw;
    min-height: 150px;
    object-fit: cover;
}

.CardTxtComp {
    font-size: 0.8rem;
}

.CardBodyComp {
    height: 150px;
}

.listGroupItemComp {
    display: flex !important;
    justify-content: space-between;
}

.list-group-item {
    display: flex;
}

.list-group-item p {
    margin-bottom: 0;
}

.overflow {
    overflow: auto;
}
