.CardComp {
    display: flex;
    width: 250px;
    margin-top: 30px;
    height: 400px !important;
    user-select: none;
}

.CardImgComp {
    width: 100%;
    height: 100px;
    min-height: 150px;
    object-fit: cover;
    transition: all 1s;
}
.CardComp:hover .CardImgComp{
    border-radius: 10px;
    transform: scale(1.05);
}

.CardTxtComp {
    font-size: 0.8rem;
}

.CardBodyComp {
    height: 150px;
}

.listGroupItemComp {
    display: flex !important;
    justify-content: space-between;
}

.list-group-item {
    display: flex;
}

.list-group-item p {
    margin-bottom: 0;
}

.overflow {
    overflow: auto;
}
